// Mixins in here
.button-styles(@bg-color: #008080, @clr: #ffffff, @bd-rad: 15px) {
  background-color: @bg-color;
  color: @clr;
  font-size: 2rem;
  text-align: center;
  width: 80%;
  padding: 5%;
  border-radius: @bd-rad;
}