// Navigation Styles here
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  //border-bottom: 1px dashed gray;
  a {
    line-height: 1.5;
    font-size: 1.6rem;
    padding-left: 35px;
  }
}